:root{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
display:flexbox;
transition: 2s;
font: 400;
font-family: 'Courier New', Courier, monospace;

}   



button{

  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

#main{
  display: flex;
  justify-content:space-evenly;
  align-self:first baseline;

  width: 100%;
  height: 100%;
}

#gal{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  background-color: gainsboro;
  min-height: 100%;
  display: flexbox; 
}

#options{
  background-color: #F5CC00;

  height: 100%;
}

#left{
  height: 100%;
  width: 20%;
  font-size: .2rem;
}

#text{
  background-color: bisque;
}

button:hover{
  transition: .75s;
  transform:scale(1.1)
}

#value{
  width: 20%;
  height: 3.5%;
  border: 2px black solid;
  border-radius: 5px;
}



#stuff{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1400px;
}

#starttext{
  color: white;
  font-weight: 100;
  animation: fade ease .5s;
  font-size: 3rem;
border-radius: 10px
}
.mode0{
  transition: .5s;
  background: url(https://play.pokemonshowdown.com/fx/bg-route.png) ;
  background-size: cover;
}

#sprites{
  background-color: black;
}

.mode1{
  transition: .5s;
      background: url(https://i.imgur.com/zVs5MgS.png); 
      background-size: cover; 
}



.mode2{
  background: url(https://i.redd.it/ayi0xce9yb7a1.gif); 
  background-size: cover; 
}


#dropdown{
}

#guess{
  height: 50px;
  width: auto;
}





@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}




@media screen and (max-width: 1000px) {
  #car {
    border-width: 0px;
    width: 50%;
  }
  #far {
    width: 50%;
  }
}

#gform{
 background-color: orange;
}

.img:hover{
  transition: .4s;
  transform: scale(1.1);
  border-color: darkgoldenrod;
}

#winbox{
  height: 100%;
width: 75%;
  border: gold 2px solid;
  background-color: green;
}

#win{
  background-color: aqua;
}
#dropdown, #value{
  text-align: center;
  height: 10%;
}

h1,h2,p{
  margin: 0px;
  font-size: 1.5rem;
}
#value{
  width: 70%;
}
#hints,#lives,#monster,#mid,#bot{
  min-height: 50px;
  align-items: center;
  color: rgb( 20,20,20);
  border: 4px black solid;
  background-color: rgba(255,255,255,.9);

  
}


#mid{
  width: 60%;
  height: 80%;
}
#bot{
  width: 100%;}
#lives{
  justify-content: center;
  align-items: center;
  border-bottom: 0px;
  font-size: 1.25rem;
  height: 50%;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#hints{
  height: 80%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#right{
  width: calc(20% - 8px);
}

#rules{
  color: rgb( 20,20,20);
  border: 1px black solid;
  border-radius: 20px;
  background-color: rgba(235, 235, 253, 0.3);
  

}
#silo{
  margin-right: 0px;
  border: 4px black solid;
  background-color: rgba(255,255,255,.9);
   width: calc(100% - 8px);
  height: 9%;
 flex-direction: column;
 justify-content:space-evenly;
}


#bot
#bottom{
  height: 10%;
  background-color: darkblue;
  direction: flex;
  flex-direction: row;
}
#top{
  height: 100%;
  flex-direction: row-reverse;
  display: flex;
}
.guess{
  height: 64px;
}

.uw12{
  height: 50px;
}







#up{
  height: 50%;
  display: flex;
}


.hinttext:hover,.entry:hover{
  transition: .25s;
  background-color: rgba(197, 68, 223,0.1)
}
.hinttext{
  font-size: 12.5px;
  text-align: center;
}



#error{
  color:maroon;
}

.entry{
  font-size: 17.5px;
}

#monster{
  border-top:0px black solid;
  height: 30%;
}
